*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /* background-color: #EEE7DA; */
  background-image: url(zakat.jpg);
  /* background-image: url(zakat.jpg); */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
  margin-left: 0;

}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0;

}
.btn {
  margin-left: auto;
  border: none;
  margin-top: 0px;
  margin-right: 20px;
  background-color: transparent;
  z-index: 5;
}

.btn {
  background-color: transparent;
  position: fixed;
}
.menu {
  margin-top: 0;
  margin-left: 0 ;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;

}
.hidden {
  display: none;
}
/* .menu-column {


} */
.menu-item {
   z-index: 6;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.font {
  font-family: "Six Caps", sans-serif;
  font-size: 4vmax;
}
a {
  text-decoration: none;
  color: black;
}
.one {
  /* background-color: #83A2FF; */
  background-color: rgb(230,195,79);
}
.two {
  /* background-color: #EF9595; */
  background-color: rgb(179,206,199);
}
.three {
  /* background-color: #A8DF8E; */
  background-color: rgb(236,150,123);
}
.four {
  /* background-color: #FEFF86; */
  background-color: rgb(178,137,155);
}
.five {
  /* background-color: #EF9595; */
  background-color: rgb(134,89,110);
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;

}


.btn-clickhere{
  padding: 25px 30px;
  background-color: #050801;
  /* color: #03e9f4; */
  color: #FE0FF0;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  font-size: 30px;
  font-family: "Six Caps", sans-serif;
 
}
.bigBTN {
  font-size: 50px;
}

.btn-clickhere:hover{
    /* background: #03e9f4; */
    background: #FE0FF0;
    color: #050801;
    /* box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;

} */
box-shadow: 0 0 5px #FE0FF0,
0 0 25px #FE0FF0,
0 0 50px #FE0FF0,
0 0 200px #FE0FF0;

}
.absolute {
   display: none;
}
.background-container {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    /* z-index: 2; */
    width: 100%;
    height: 100%;
    /* z-index: 6; */
}
.background {
    flex: 1;
    height: 100vh;
    background-color: #050801;
    /* background-color: aqua; */

}
.heading {
  font-family: "Francois One", sans-serif;
  font-size: 4vmax;
  text-align: center; 
  padding: 10px;
}
.items {
    position: absolute;
    top: 80px;
    left:50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
    z-index: 5;
}


 
  .imageone {
    background-image: url('weather_2.jpg');
    /* border-radius: 40px; */
    
  }

    .imagetwo {
        background-image: url('santa_2.jpg');
        /* border-radius: 40px; */
    }
    .imagethree {
        background-image: url('daycare.jpg');
        /* border-radius: 40px; */
    }
    .imagefour {
        background-image: url('coffee_shop.jpg');
        /* border-radius: 40px; */
    }
    .imagefive {
        background-image: url('quizz.jpg');
        /* border-radius: 40px; */
    }
    .imagesix {
        background-image: url('split_the_bill.jpg');
        /* border-radius: 40px; */
    }
  /* Style the back side */

.card-text {
  /* position: absolute; */
    /* top: 50%;
    right: 50%; */
    transform: translate(50%,-50%);
    /* text-transform: uppercase;
    font-family: verdana; */
    font-size: 50px;
    /* font-family: "Prosto One", sans-serif; */
    font-family: "Francois One", sans-serif;
   
    color: #f5f5f5;

    text-shadow: 0px 0px 0 rgb(-12,203,236),
    1px 1px 0 rgb(-29,186,219),
    2px 2px 0 rgb(-45,170,203),
    3px 3px 0 rgb(-62,153,186),
    4px 4px 0 rgb(-78,137,170),
    5px 5px 0 rgb(-95,120,153),
    6px 6px 0 rgb(-111,104,137),
    7px 7px 0 rgb(-128,87,120),
    8px 8px  0 rgb(-144,71,104),
    9px 9px 8px rgba(0,0,0,0.26),
    9px 9px 1px rgba(0,0,0,0.5),
    0px 0px 8px rgba(0,0,0,.2);
    /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1.5px 3px 1px #919191,
        2px 4px 1px #919191,
        2.5px 5px 1px #919191,
        3px 6px 1px #919191,
        3.5px 7px 1px #919191,
        4px 8px 1px #919191,
        4.5px 9px 1px #919191,
        5px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4); */
}


  /* h1 {
        font-family: 'Catamaran', sans-serif;

        display: block;
        color: rgba(95, 192, 254, 0.6);
        text-shadow:
        -5px 5px 0 rgba(10, 153, 240, 0.4),
        -1px 1px 0 #0372b8,
        -2px 2px 0 #0372b8,
        -3px 3px 0 #0372b8,
        -4px 4px 0 #0372b8,
        -5px 5px 0 #0372b8,


        -5px 5px 15px rgba(0, 0, 0, 0.2),
        -15px 5px 5px rgba(0, 0, 0, 0.1);
        transition: all .1s ;

  } */


      /* .shadow {
           font-size: 45px;
           color: #07deff;
           font-family: "Arial Black", Gadget, sans-serif;

           text-shadow: 0px 0px 0 rgb(-12,203,236),
                        1px 1px 0 rgb(-29,186,219),
                        2px 2px 0 rgb(-45,170,203),
                        3px 3px 0 rgb(-62,153,186),
                        4px 4px 0 rgb(-78,137,170),
                        5px 5px 0 rgb(-95,120,153),
                        6px 6px 0 rgb(-111,104,137),
                        7px 7px 0 rgb(-128,87,120),
                        8px 8px  0 rgb(-144,71,104),
                        9px 9px 8px rgba(0,0,0,0.26),
                        9px 9px 1px rgba(0,0,0,0.5),
                        0px 0px 8px rgba(0,0,0,.2);
      }

     */




      .card {
        width: 300px;
        height: 200px;
        margin-left: 30px;
        margin-top: 50px;
        /* z-index: 5; */
      }

      .content {
        width: 300px;
        height: 200px;
        text-align: center;
        position: relative;
        transition: all 2.25s;
        /* border-radius: 40px; */
        padding: 5em;
        transform-style: preserve-3d;
        background-color: #000;
      }

      .card:hover .content {
        transform: rotateY(0.5turn);
      }

      .front,
      .back {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 2em;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        box-shadow: 0 0 5px white,
    0 0 25px white,
    0 0 50px white,
    0 0 200px white;
      }
      .inner {

        width: 300px;
        height: 200px;
        background-size: cover;
        /* resize: horizontal; */
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
      }

      .title {
        transform: translateZ(5rem);
        font-size: 2.5rem;
      }

      .subtitle {
        transform: translateZ(2rem);
        font-size: 1.5rem;
        font-family: "Francois One", sans-serif;
   
    color: #f5f5f5;
    margin-top: 20px;
      }

      .back {
        transform: rotateY(0.5turn);
        background-color: #0000;
        /* border-radius: 40px; */
        /* color: white; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      }

      .description {
        transform: translateZ(5rem);
        font-size: 1.5rem;
      }
